.navi{
  background-color: black;
  color: blue;
}
.main{
  color: red;
  margin-right: 22px;
  font-size: 22px;
  font-weight: bold;
}
.about{
  color: red;
  font-size: 22px;
  font-weight: bold;
}
.logo{
  height: 420px;
  width: 720px;
}
.ab{
  font-size: 28px;
}
.error{
  text-align: center;
  font-size: 40px;
  background-color: black;
  color: red;
  padding-top: 16px;
  padding-bottom: 16px;
}